{% load static %}

<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Change your world !</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--        <link rel="icon" type="image/png" href="favicon.ico">-->

    <!--Google Font link-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">


    <link rel="stylesheet" href="{% static '/css/slick.css' %}">
    <link rel="stylesheet" href="{% static '/css/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static '/css/animate.css' %}">
    <link rel="stylesheet" href="{% static '/css/fonticons.css' %}">
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootsnav.css' %}">


    <!--For Plugins external css-->
    <!--<link rel="stylesheet" href="{% static '/css/plugins.css" />-->

    <!--Theme custom css -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <!--<link rel="stylesheet" href="{% static '/css/colors/maron.css">-->

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}"/>

    <script src="{% static '/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
</head>

<body data-spy="scroll" data-target=".navbar-collapse">


<!-- Preloader -->
<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="object_one"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_three"></div>
            <div class="object" id="object_four"></div>
        </div>
    </div>
</div><!--End off Preloader -->


<div class="culmn">
    <!--Home page style-->


    <nav class="navbar navbar-default navbar-fixed white no-background bootsnav">
        <!-- Start Top Search -->
        <div class="top-search">
            <div class="container">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>
        <!-- End Top Search -->

        <!--<div class="container">
            &lt;!&ndash; Start Atribute Navigation &ndash;&gt;
            <div class="attr-nav">
                <ul>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" >:
                            <i class="fa fa-shopping-bag"></i>
                            <span class="badge">3</span>
                        </a>
                        <ul class="dropdown-menu cart-list">
                            <li>
                                <a href="#" class="photo"><img src="{% static '/images/thumb01.jpg' %}" class="cart-thumb" alt="" /></a>
                                <h6><a href="#">Delica omtantur </a></h6>
                                <p class="m-top-10">2x - <span class="price">$99.99</span></p>
                            </li>
                            <li>
                                <a href="#" class="photo"><img src="{% static '/images/thumb01.jpg' %}" class="cart-thumb" alt="" /></a>
                                <h6><a href="#">Delica omtantur </a></h6>
                                <p class="m-top-10">2x - <span class="price">$99.99</span></p>
                            </li>
                            <li>
                                <a href="#" class="photo"><img src="{% static '/images/thumb01.jpg' %}" class="cart-thumb" alt="" /></a>
                                <h6><a href="#">Delica omtantur </a></h6>
                                <p class="m-top-10">2x - <span class="price">$99.99</span></p>
                            </li>
                            &lt;!&ndash;More List &ndash;&gt;
                            <li class="total">
                                <span class="pull-right"><strong>Total</strong>: $0.00</span>
                                <a href="#" class="btn btn-cart">Cart</a>
                            </li>
                        </ul>
                    </li>
                    <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                    <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li>
                </ul>
            </div>
            &lt;!&ndash; End Atribute Navigation &ndash;&gt;-->

        <!-- Start Header Navigation -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#brand">

                <img src="{% static '/images/logo.png' %}" class="logo logo-display m-top-10" alt="">
                <img src="{% static '/images/logo.jpg' %}" class="logo logo-scrolled" alt="">

            </a>
        </div>
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                <li><a href="#hello">Recherche ta ville !</a></li>
                <li><a href="#">Tout sur les elections municipals</a></li>
                <li><a href="#DCV">Domaine de compétence de la ville</a></li>
                <li><a href="#portfolio">Vérifier mon inscription sur les listes</a></li>
                <!--                            <li><a href="#pricing">Pricing</a></li>
                                            <li><a href="#blog">Blog</a></li>      -->
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
        <!--</div> -->


        <!-- Start Side Menu -->
        <!--                <div class="side">
                            <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                            <div class="widget">
                                <h6 class="title">Custom Pages</h6>
                                <ul class="link">
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Portfolio</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h6 class="title">Additional Links</h6>
                                <ul class="link">
                                    <li><a href="#">Retina Homepage</a></li>
                                    <li><a href="#">New Page Examples</a></li>
                                    <li><a href="#">Parallax Sections</a></li>
                                    <li><a href="#">Shortcode Central</a></li>
                                    <li><a href="#">Ultimate Font Collection</a></li>
                                </ul>
                            </div>
                        </div>-->
        <!-- End Side Menu -->

    </nav>


    <!--Home Sections-->

    <section id="hello" class="home bg-mega">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="main_home">
                    <div class="home_text">
                        <h1 class="text-white">Change your world ! <br/></h1>
                    </div>
                    <div class="m-top-40">
                        <form class="form-inline" action="{% url " accueil
                        " %}" method="post">
                        {% csrf_token %}
                        {{formV.test}}
                        <div class="form-group">
                            {{formV.ville}}
                            <!--                            <input class="form-control" name="ville" type="text" id="id_ville"-->
                            <!--                                   placeholder="Quelle est ta ville ? ">-->
                        </div>
                        <button type="submit" class="btn btn-default">Recherche</button>
                        </form>
                    </div>
                </div>
            </div><!--End off row-->
        </div><!--End off container -->
    </section> <!--End off Home Sections-->


    <!--Skill Sections-->
    <section id="DCV" class="skill roomy-50">
        <div class="container">
            <div class="row">
                <div class="main_skill">
                    <div class="col-md-6">
                        <div class="skill_content wow fadeIn">
                            <h2>Grands domaines de compétence</h2>
                            <div class="separator_left"></div>

                            <p>
                                Action sociale et santé
                                Emploi et insertion professionnelle
                                Enseignement
                                Enfance et jeunesse
                                Sports
                                Culture
                                Economie et emploi
                                Urbanisme et aménagement de la commune
                                Logement
                                Environnement et patrimoine
                                Déchets
                                Énergie et Télécommunication
                                Ports et voies maritimes
                                Transports
                            </p>

                        </div>
                    </div>
                    <div class="col-md-6">
                        {% load static %}
                        <img src="{% static '/images/BAGUETTE.jpg' %}" alt="Baguette">
                    </div>
                </div>
            </div><!--End off row-->
        </div><!--End off container -->

        <div class="container roomy-50">
            <div class="row">
                <div class="main_skill">
                    <div class="col-md-6">
                        <div class="skill_content wow fadeIn">
                            <h2>Action sociale et santé</h2>
                            <div class="separator_left"></div>
                            <ul>
                                <li><i class="fa fa-check-circle text-primary"></i> Prévention ou développement
                                    social, via le CCAS
                                </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Attribution d’aides sociale
                                    facultatives pours des familles /jeunes en difficulté
                                </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Création et gestion d’un
                                    établissement pour enfants de moins de 6 ans ou foyer pour personnes âgées
                                </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Participation à l’accueil des
                                    personnes dites “gens du voyage”
                                </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Logement : autorisation,
                                    construction ou subventions de logement sociaux
                                </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Logement : autorisation,
                                    construction ou subventions de logement sociaux
                                </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Aides au logement (Fonds de
                                    solidarité pour le logement (FSL)
                                </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Logement : autorisation,
                                    construction ou subventions de logement sociaux
                                </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Organisation de campagnes de
                                    vaccinations gratuite
                                </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Organisation de l’alimentation
                                    en eau
                                </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Gestion de la propreté de la
                                    ville
                                </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Gestion des déchets et des eaux
                                    usées
                                </li>
                                <li><i class="fa fa-check-circle text-primary"></i> L’aide à l’installation de
                                    professionnels de santés dans les zones déficitaires
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="skill_content wow fadeIn">
                            <h2>Emploi et insertion professionnelle</h2>
                            <div class="separator_left"></div>
                            <ul>
                                <li><i class="fa fa-check-circle text-primary"></i> Aide à la réception des offres
                                    d’emplois en partenariat avec Pole Emploi
                                </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Création des maisons de l’emploi
                                </li>
                                <li><i class="fa fa-check-circle text-primary"></i> GEstion des structures
                                    d’accompagnement et d’insertion professionnelle des jeunes
                                </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Création de plans pour l’emploi
                                    et l’insertion
                                </li>

                            </ul>
                        </div>
                    </div>
                </div><!--End off row-->
            </div><!--End off container -->
        </div>
        <div class="container roomy-50">
            <div class="row">
                <div class="main_skill">
                    <div class="col-md-6">
                        <div class="skill_content wow fadeIn">
                            <h2>Enseignement</h2>
                            <div class="separator_left"></div>
                            <ul>
                                <li><i class="fa fa-check-circle text-primary"></i> Gestion de logement des
                                    étudiants
                                </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Gestion des écoles
                                    maternelles et primaires (bâtiments et personnels)
                                </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Recrutement des ATSEM
                                    (assistants territoriaux spécialisés des écoles maternelles)
                                </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Restauration scolaire
                                    des écoles primaires
                                </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Organisation des
                                    activités périscolaires
                                </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Financement des écoles
                                    privées sous contrat
                                </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Aide à la scolarisation
                                    des élèves d’écoles primaires
                                </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Gestion des transports
                                    scolaires à l’intérieur du périmètre de la commune
                                </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Contribution au
                                    financement des établissements d’enseignement supérieur et de recherche
                                </li>


                            </ul>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="skill_content wow fadeIn">
                            <h2>Enfance et jeunesse</h2>
                            <div class="separator_left"></div>
                            <ul>
                                <li><i class="fa fa-check-circle text-primary"></i> Création de relais
                                    d’assistants maternels
                                </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Financement et gestion
                                    des structures d’accueil de la petite enfance (crèches, garderies…)
                                </li>


                            </ul>

                        </div>
                    </div>
                </div><!--End off row-->
            </div><!--End off container -->

                <div class="container roomy-50">
                    <div class="row">
                        <div class="main_skill">
                            <div class="col-md-6">
                                <div class="skill_content wow fadeIn">
                                    <h2>Sports</h2>
                                    <div class="separator_left"></div>
                                    <ul>
                                        <li><i class="fa fa-check-circle text-primary"></i> Subventions au
                                            clubs et associations
                                        </li>
                                        <li><i class="fa fa-check-circle text-primary"></i> Sécurité des
                                            installations sportives
                                        </li>
                                        <li><i class="fa fa-check-circle text-primary"></i> Création d’un
                                            office municipal des sports
                                        </li>
                                        <li><i class="fa fa-check-circle text-primary"></i> Construction et
                                            gestion des équipements sportifs de proximité (gymnase, piscine,
                                            camping)
                                        </li>


                                    </ul>


                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="skill_content wow fadeIn">
                                    <h2>Culture</h2>
                                    <div class="separator_left"></div>

                                    <ul>

                                        <li><i class="fa fa-check-circle text-primary"></i> Inventaires
                                            général du patrimoine culturel
                                        </li>
                                        <li><i class="fa fa-check-circle text-primary"></i> Gestion des
                                            bibliothèques municipales
                                        </li>
                                        <li><i class="fa fa-check-circle text-primary"></i> Gestion des
                                            musées municipaux
                                        </li>
                                        <li><i class="fa fa-check-circle text-primary"></i> Conservation et
                                            mise en valeur des archives municipales
                                        </li>
                                        <li><i class="fa fa-check-circle text-primary"></i> Gestion des
                                            diagnostics et des fouilles archéologiques préventives
                                        </li>
                                        <li><i class="fa fa-check-circle text-primary"></i> Aide aux salles
                                            de spectacles cinématographiques
                                        </li>
                                        <li><i class="fa fa-check-circle text-primary"></i> Promotion du
                                            tourisme et création d’offices de tourisme
                                        </li>
                                        <li><i class="fa fa-check-circle text-primary"></i> Enseignement
                                            artistique (musique, danse, …) en partenariat avec les
                                            établissements scolaires
                                        </li>

                                    </ul>


                                </div>
                            </div>
                        </div><!--End off row-->
                    </div><!--End off container -->
                    <br/>
                </div><!--End off container -->
            </section> <!--End off Skill section -->


            <!--Subscribe section-->
            <section id="subscribe" class="subscribe roomy-100 fix">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="main_subscribe text-center">
                            <div class="col-sm-8 col-sm-offset-2">
                                <h2 class="text-white">Rester informé !</h2>
                                <p class="m-top-30 text-white">Suivre les actualités des municipales et
                                    découvrir les programmes.</p>
                            </div>
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="subscribe_btns m-top-40">
                                    <form class="form-inline" action="{% url " suscribe
                                    " %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="inputEmail2" name="email"
                                               placeholder="Email Address">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Je m'abonne !</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div><!--End off row -->
                </div><!--End off container -->
            </section><!-- End off Impress section-->

            <!-- scroll up-->
            <div class="scrollup">
                <a href="#"><i class="fa fa-chevron-up"></i></a>
            </div><!-- End off scroll up -->


            <!--                        <footer id="footer" class="footer bg-black">
                                        <div class="container">
                                            <div class="row">
                                                <div class="main_footer text-center p-top-40 p-bottom-30">
                                                    <p class="wow fadeInRight" data-wow-duration="1s">

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </footer>-->


        </div>

        <!-- JS includes -->

        <script src="{% static '/js/vendor/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static '/js/vendor/bootstrap.min.js' %}"></script>

        <script src="{% static '/js/jquery.magnific-popup.js' %}"></script>
        <script src="{% static '/js/jquery.easing.1.3.js' %}"></script>
        <script src="{% static '/js/slick.min.js' %}"></script>
        <script src="{% static '/js/jquery.collapse.js' %}"></script>
        <script src="{% static '/js/bootsnav.js' %}"></script>


        <!-- paradise slider js -->


        <script src="http://maps.google.com/maps/api/js?key=AIzaSyD_tAQD36pKp9v4at5AnpGbvBUsLCOSJx8"></script>
        <script src="{% static '/js/gmaps.min.js' %}"></script>

        <script>
            function showmap() {
                var mapOptions = {
                    zoom: 8,
                    scrollwheel: false,
                    center: new google.maps.LatLng(-34.397, 150.644),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
                $('.mapheight').css('height', '350');
                $('.maps_text h3').hide();
            }


        </script>


        <script src="{% static '/js/plugins.js' %}"></script>
        <script src="{% static '/js/main.js' %}"></script>

</body>
</html>
