{% extends "users/baseAccueil.html" %}
{% load static %}
{% block content %}
<section id="hello" class="home bg-mega">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="main_home">
                <div>
                    <div class="col-md-6 m-top-10">
                        <h4 class="text-white text-justify">Programmes-Municipales.fr permet de comparer les programmes
                            des
                            listes candidates aux élections municipales.</h4>
                    </div>
                    <form class="col-md-6" action="{%url 'accueil'%}" method="post">
                        <h1 class="text-white text-justify">Qui sera mon Maire ? <br/></h1>
                        {% csrf_token %}
                        <div class="form-group">
                            {{formV.ville}}
                            {{formV.media}}
                        </div>
                        <button type="submit" class="pull-right btn btn-primary">Recherche</button>
                    </form>
                </div>
            </div>
            <div class="main_home_values">
                <div class="col-md-4">
                    <div class="about_bottom_item m-top-20">
                        <div class="ab_head">
                            <div class="ab_head_icon">
                                <i class="rondP fa fa-angellist"></i>
                            </div>
                            <h5 class="m-top-20 text-white"><b>Simple</b></h5>
                        </div>
                        <h5 class="m-top-20 text-white">Toutes les listes candidates répondent aux mêmes sujets</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about_bottom_item m-top-20">
                        <div class="ab_head">
                            <div class="ab_head_icon">
                                <i class="fa fa-map-marker rondP"></i>
                            </div>
                            <h5 class="m-top-20 text-white"><b>Local</b></h5>
                        </div>
                        <h5 class="m-top-20 text-white">Pour chaque ville, toutes les listes sont référencées</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about_bottom_item m-top-20">
                        <div class="ab_head">
                            <div class="ab_head_icon">
                                <i class="fa fa-balance-scale rondP"></i>
                            </div>
                            <h5 class="m-top-20 text-white"><b>Transparent</b></h5>
                        </div>
                        <h5 class="m-top-20 text-white">Les propositions sont rédigées directement à partir des
                            programmes</h5>
                    </div>
                </div>
            </div>
        </div>

    </div><!--End off row-->
    </div>
</section> <!--End off Home Sections-->

<!--Portfolio Section-->
<section id="info" class="portfolio lightbg">
    <div class="container roomy-50">
        <div class="row">
            <div class="main_portfolio">
                <div class="col-md-8 col-md-offset-2">
                    <div class="text-center ">
                        <h3>Quelques infos sur les élections municipales 2020</h3>
                        <div class="separator_auto"></div>
                        <p></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-6">
                        <div class="portfolio_item portfolio_item2">
                            <img src="{% static '/images/home/Calendar.jpg' %}" alt=""/>
                            <div class="portfolio_hover text-center ">
                                <p class="in-img-center text-white text-uppercase"><b>Rendez-vous en Mars !<br/>
                                    1er tour : 15 Mars 2020<br/>
                                    2ème tour : 22 mars 2020</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6">
                        <div class="portfolio_item portfolio_item2">
                            <img src="{% static '/images/home/Vote.jpg' %}" alt=""/>
                            <div class="portfolio_hover text-center">
                                <p class="in-img-center text-white text-uppercase"><b>Avoir 18 ans<br/>
                                    Être Français ou Européen<br/>
                                    Être inscrit sur les listes électorales</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6">
                        <div class="portfolio_item portfolio_item2">
                            <img src="{% static '/images/home/Second.jpg' %}" alt=""/>
                            <div class="portfolio_hover text-center">
                                <p class="in-img-center text-white text-uppercase"><b>Les listes qui dépassent 10 %
                                    passent au 2nd tour<br/>Les listes entre 5 et 10 % peuvent fusionner</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6">
                        <div class="portfolio_item portfolio_item2">
                            <img src="{% static '/images/home/Liste.jpg' %}" alt=""/>
                            <div class="portfolio_hover text-center">
                                <p class="in-img-center text-white text-uppercase"><b>On vote pour élire les Conseillers
                                    Municipaux<br/>Les Conseillers Municipaux élisent le/la Maire
                                    <br/>Ils sont élus pour 6 ans
                                </b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-top-30">
                    <div class="col-md-3 col-sm-6 col-6">
                        <div class="portfolio_item portfolio_item2">
                            <img src="{% static '/images/home/Gender.jpg' %}" alt=""/>
                            <div class="portfolio_hover text-center">
                                <p class="in-img-center text-white text-uppercase"><b>1 Maire sur 6 est une femme<br/>
                                    Et ce chiffre a pourtant triplé en 30 ans<br/>16 % aujourd'hui, contre 5.5 % en 1989
                                </b></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6">
                        <div class="portfolio_item portfolio_item2">
                            <img src="{% static '/images/home/Cake.jpg' %}" alt=""/>
                            <div class="portfolio_hover text-center">
                                <p class="in-img-center text-white text-uppercase"><b>Les Maires ont 62 ans en moyenne
                                    <br/>Et le doyen des maires a fêté ses 97 ans cette année
                                </b></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6">
                        <div class="portfolio_item portfolio_item2">
                            <img src="{% static '/images/home/Chair.jpg' %}" alt=""/>
                            <div class="portfolio_hover text-center">
                                <p class="in-img-center text-white text-uppercase"><b>1 Maire sur 3 est retraité
                                    <br/>Et les Maires en activité sont principalement agriculteurs</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6">
                        <div class="portfolio_item portfolio_item2">
                            <img src="{% static '/images/home/Michel.jpg' %}" alt=""/>
                            <div class="portfolio_hover text-center">
                                <p class="in-img-center text-white text-uppercase"><b>C'est Michel !<br/>
                                    1 maire sur 25 s'appelle Michel</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--End off row -->
        <!--<div class="row">
            <div class="about_bottom_content">
                <div class="col-md-3">
                    <div class="about_bottom_item m-top-20">
                        <div class="ab_head">
                            <div class="ab_head_icon">
                                <i class="rondP fa fa-calendar-check-o"></i>
                            </div>
                            <h6 class="m-top-20">Une élection en deux tours</h6>
                        </div>
                        <p class="m-top-20">1er tour : 15 mars 2020 <br/> 2ème tour : 22 mars 2020</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="about_bottom_item m-top-20">
                        <div class="ab_head">
                            <div class="ab_head_icon">
                                <i class="fa fa-universal-access rondP"></i>
                            </div>
                            <h6 class="m-top-20">Pour voter,</h6>
                        </div>
                        <p class="m-top-20">il suffit d'avoir au moins 18 ans et être inscrit sur les listes
                            électorales de sa ville</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="about_bottom_item m-top-20">
                        <div class="ab_head">
                            <div class="ab_head_icon">
                                <i class="fa fa-percent rondP"></i>
                            </div>
                            <h6 class="m-top-20">Les listes qui ont plus de 10% des voix</h6>
                        </div>
                        <p class="m-top-20">peuvent se maintenir pour le second tour</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="about_bottom_item m-top-20">
                        <div class="ab_head">
                            <div class="ab_head_icon">
                                <i class="fa fa-users rondP"></i>
                            </div>
                            <h6 class="m-top-20">On vote pour une liste !</h6>
                        </div>
                        <p class="m-top-20">Le maire est désigné par les conseillers municupaux</p>
                    </div>
                </div>
            </div>
        </div>&lt;!&ndash;End off row&ndash;&gt;-->
    </div><!--End off container -->
</section><!-- End off Portfolio section-->

<!--About Sections-->
<section id="nous" class="about roomy-100 bg-white">
    <div class="container">
        <div class="row">
            <div class="main_about">
                <div class="col-md-6 separator_vertical">
                    <div class="about_content">
                        <h2>Qui sommes nous ?</h2>
                        <div class="separator_left"></div>
                        <h5><i class="fa fa-caret-right text-primary"></i> Un comparateur transparent
                        </h5>
                        <p>Programmes-Municipales.fr est un comparateur de programmes. Ici, pas de quizz avec un
                            taux de compatibilité pour savoir quelle liste voter : les propositions des listes
                            candidates sont organisées de façon claire et c’est à vous de choisir.
                        </p>
                        <h5><i class="fa fa-caret-right text-primary"></i> Un comparateur apartisan
                        </h5>
                        <p>Nous ne sommes liés à aucune organisation politique / aucun parti et les listes sont
                            présentées dans un ordre aléatoire.
                        </p>
                        <h5><i class="fa fa-caret-right text-primary"></i> Un comparateur en avance</h5>
                        <p>Les programmes des listes candidates arriveront quelques jours seulement avant les
                            élections dans nos boîtes aux lettres. Programmes-Municipales.fr propose de diffuser ces
                            programmes sans attendre.
                        </p>
                        <div class="form-group text-center">
                            <button class="btn btn-primary text-center" data-toggle="modal" data-target="#charte">
                                Notre Charte d'Indépendance
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about_accordion wow fadeIn">
                        <h5>Comment fonctionne Programmes-Municipales.fr ?</h5>
                        <p>
                            Des propositions organisées en 5 catégories.<br/>
                            Chaque catégorie comporte plusieurs sujets, propres ou non à la ville, sur lesquels les
                            listes candidates indiquent leurs propositions
                        </p>
                        <div id="faq_main_content" class="faq_main_content">
                            {% for c in cs%}
                            <h6><i class="fa fa-angle-right"></i>{{c.titre}}</h6>
                            <div>
                                <div class="content">
                                    <ul>
                                        {% for cri in c.criteres%}
                                        <li><i class="fa fa-angle-right text-primary"></i> {{cri.titre}}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div> <!-- End off accordion item-1 -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div><!--End off row-->
    </div><!--End off container -->
</section> <!--End off About section -->

<div class="modal fade" id="charte" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Notre Charte d'Indépendance</h5>
            </div>
            <div class="modal-body">
                <h6>Financement</h6>
                <p>Notre budget de fonctionnement s’élève à la coquette sommes de 78 €, qui couvre uniquement les
                    frais
                    d’hébergement du site. Programmes-Municiaples.fr a été développé bénévolement. Nous n’avons reçu
                    ni
                    don, ni financement, ni subvention.<br/>
                    L’intégralité du site est accessible gratuitement, sans publicité.</p>
                <h6>Transparence</h6>
                <p>Programmes-Municipales.fr est apartisan : nous ne sommes liés à aucun parti politique.
                    L’ordre de présentation des listes est aléatoire : en actualisant la page, vous pourrez
                    constater
                    que les listes sont présentées dans un ordre différent.
                    Les listes candidates ne peuvent pas payer pour être mises en avant sur
                    Programmes-Municipales.fr</p>
                <h6>Comment ont été déterminés les sujets ?</h6>
                <p>Les sujets communs ont été déterminés à partir du Code Général des Collectivités Territoriales
                    :</p>
                <ul>
                    <li><i class="fa fa-caret-right"></i>
                        Chapitre Ier : Le conseil municipal / Section 5 : Attributions
                    </li>
                    <li>
                        Ce texte présente les attributions du Conseil Municipal. Il est consultable <a
                            target="_blank"
                            href="https://www.legifrance.gouv.fr/affichCode.do;jsessionid=E3FAB301150F3C7024FAF0E152920ACB.tpdjo02v_3?idSectionTA=LEGISCTA000006180961&cidTexte=LEGITEXT000006070633&dateTexte=20140304">ici</a>.
                    </li>
                    <li><i class="fa fa-caret-right"></i>
                        Chapitre II : Le maire et ses adjoints / Section 3 : Attributions / Sous-section 2 :
                        Attributions
                        exercées au nom de la commune
                    </li>
                    <li>
                        Ce texte présente les attributions déléguées au maire par le Conseil Municipal. Il est
                        consultable
                        <a target="_blank"
                           href=https://www.legifrance.gouv.fr/affichCodeArticle.do?idArticle=LEGIARTI000028538439&cidTexte=LEGITEXT000006070633&dateTexte=20140212&oldAction=rechCodeArticle>ici</a>.
                    </li>
                </ul>
                <br/>
                <p>En complément des sujets communs, il est possible d’ajouter des sujets locaux, spécifiques à
                    chaque
                    ville. Les listes candidates peuvent ainsi prendre position sur des sujets locaux : transports,
                    grands projets, commerces, …</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<section id="VerifierMonInscription" class="bg-mega roomy-80">
    <div class="container">
        <div class="row">
            <div class="skill_bottom_content col-md-7 col-sd-12">
                <div>
                    <div class="skill_bottom_item">
                        <h3 class="text-white"><span class="fontgros statistic-counter"><b>{{verif}}</b></span> jours
                            avant la
                            fin des
                            inscriptions sur les listes électorales</h3>
                    </div>
                </div>
                <div class="separator_small"></div>
                <div>
                    <div class="skill_bottom_item">
                        <h3 class="text-white"><span class="fontgros statistic-counter"><b>{{premier}}</b></span> jours
                            avant le
                            premier
                            tour !</h3>
                    </div>
                </div>
            </div>
            <div class="skill_bottom_content col-md-3 col-sd-12">
                <a href="https://www.service-public.fr/particuliers/vosdroits/services-en-ligne-et-formulaires/ISE"
                   target="_blank">
                    <div class="pricing_price_border text-center">
                        <div class="pricing_price">
                            <h4 class="text-white">Vérifier</h4>
                            <h6 class="text-white">son inscription !</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="aide" class="about roomy-40 bg-white">
    <div class="container">
        <div class="row">
            <h3 class="text-center">Comment nous aider à référencer plus de villes :</h3>
            <div class="separator_auto"></div>
            <div class="col-md-6 m-top-10">
                <div class="">
                    <h5 class="m-top-30 service_item"><i class="icofont icofont-light-bulb"></i> Coup de Main Express
                    </h5>
                    <div class="separator_small"></div>
                    <h6><b>Objectif : référencer les listes candidates d'une ville.</b></h6>
                    <p>Rien de plus simple, il suffit de :
                    </p>
                    <ul>
                        <li><i class="fa fa-caret-right text-primary"></i> Rechercher dans la presse locale / sur
                            internet les listes qui sont candidates dans la
                            ville,
                        </li>
                        <li><i class="fa fa-caret-right text-primary"></i> Remplir le tableau disponible en <a
                                href="https://framadrop.org/r/9Fja8CbuZm#BE87rrXaU9PdUDdv9Xwl4Vrw9xVQhwKEWppxUhVAI/E="
                                target="_blank">cliquant
                            ici</a>
                        </li>
                        <li><i class="fa fa-caret-right text-primary"></i>
                            Nous renvoyer le tableau complété à notre adresse : <u>contact@programmes-municipales.fr</u>
                        </li>
                        <br/>
                        <li><i class="fa fa-caret-right text-primary"></i> Si des informations sont plus difficiles
                            à trouver, pas de soucis, on préfère un tableau à
                            moitié rempli qu'un tableau vide !
                        </li>
                    </ul>
                    <br/>
                    <p>Temps estimé pour une ville moyenne : <b>20 minutes</b></p>
                </div>
            </div>
            <div class="col-md-6 m-top-10">
                <div class="">
                    <h5 class="m-top-30 service_item"><i class="fa fa-angellist"></i> Coup de Main ++</h5>
                    <div class="separator_small"></div>
                    <h6><b>Objectif : référencer les listes candidates d'une ville et indiquer leurs propositions</b>
                    </h6>
                    <p>Comme pour le Coup de Main Express, il faut commencer par :
                    </p>
                    <ul>
                        <li><i class="fa fa-caret-right text-primary"></i> Rechercher dans la presse locale / sur
                            internet les listes qui sont candidates dans la
                            ville,
                        </li>
                        <li><i class="fa fa-caret-right text-primary"></i> Contacter les listes candidates, leur
                            expliquer la démarche de <u>Programmes-Municipales.fr</u>
                            et leur demander de remplir le tableau disponible en <a
                                    href="https://framadrop.org/r/9Fja8CbuZm#BE87rrXaU9PdUDdv9Xwl4Vrw9xVQhwKEWppxUhVAI/E="
                                    target="_blank">cliquant
                                ici</a>
                        </li>
                        <li><i class="fa fa-caret-right text-primary"></i>
                            Ce tableau peut être renvoyé directement par les listes candidates à notre adresse : <u>contact@programmes-municipales.fr</u>
                        </li>
                        <li><i class="fa fa-caret-right text-primary"></i>
                            Ou vous pouvez vous-même centraliser les réponses et nous renvoyer ensuite le tableau
                            complété à notre adresse : <u>contact@programmes-municipales.fr</u>
                        </li>
                        <br/>
                        <li><i class="fa fa-caret-right text-primary"></i>
                            Si des informations sont plus difficiles à trouver, pas de soucis, on préfère un tableau
                            à moitié rempli qu'un tableau vide !
                        </li>
                    </ul>
                    <br/>
                    <p>Temps estimé pour une ville moyenne : <b>une petite soirée</b>
                    </p>
                </div>
            </div><!--End off row-->
        </div><!--End off container -->
        <h4 class="text-center col m-top-20">Un grand merci !</h4>
    </div>
</section>

<!--Subscribe Us Section-->
<section id="subscribe" class="contact bg-mega fix"><!-- class subscribe avec photo -->
    <div class="container">
        <div class="row">
            <div class="main_contact roomy-100 text-white">
                <div class="col-md-5">
                    <div class="rage_widget">
                        <div class="widget_head">
                            <h3 class="text-white">Nous contacter</h3>
                            <div class="separator_small"></div>
                        </div>
                        <ul>
                            <li><i class="fa fa-caret-right "></i>
                                Rester informé des aventures de Programmes-Municipales.fr
                            </li>
                            <li><i class="fa fa-caret-right "></i>
                                Suivre les prochaines listes qui vont se déclarer dans une ville
                            </li>
                            <li><i class="fa fa-caret-right "></i>
                                Proposer une amélioration / Signaler un bug sur le site
                            </li>
                            <li><i class="fa fa-caret-right "></i>
                                Proposer un coup de main pour nous aider
                            </li>
                            <li><i class="fa fa-caret-right "></i>
                                Signaler une liste manquante
                            </li>
                            <li><i class="fa fa-caret-right "></i>
                                Ajouter un critère local
                            </li>
                        </ul>
                        <br/>
                        <h5 class="text-white"><b>Nous sommes à l'écoute !</b></h5>
                    </div>
                </div>
                <div class="col-md-7 m-top-60">
                    <form class="" action="{% url 'accueil' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group">
                                {{formC.email}}
                            </div>
                            <div class="form-group">
                                {{formC.comment}}
                            </div>
                            <div class="form-group">
                                {{formC.inform.label_tag}} {{formC.inform}}
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!--End off row -->
    </div><!--End off container -->
</section><!--End off Subscribe Section-->

<!-- scroll up-->
<div class="scrollup">
    <a href="#"><i class="fa fa-chevron-up"></i></a>
</div><!-- End off scroll up -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">C'est dans la boîte !</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                Votre adresse mail a bien été enregistrée !
                Et si vous nous avez écrit un message, nous vous répondrons rapidement.

                Pour nous aider à comparer plus de villes, <a href="/#aide">rendez-vous ici</a>.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

{%if modal%}
<script>
    $(document).ready(function(){
    $('#exampleModalCenter').appendTo("body")
    $("#exampleModalCenter").modal('show');
    });



</script>
{%endif%}
{% endblock content %}

