{% load static %}

<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Change your world!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--        <link rel="icon" type="image/png" href="favicon.ico">-->

    <!--Google Font link-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">


    <link rel="stylesheet" href="{% static '/css/slick.css' %}">
    <link rel="stylesheet" href="{% static '/css/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static '/css/animate.css' %}">
    <link rel="stylesheet" href="{% static '/css/fonticons.css' %}">
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootsnav.css' %}">


    <!--For Plugins external css-->
    <!--<link rel="stylesheet" href="{% static '/css/plugins.css" />-->

    <!--Theme custom css -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <!--<link rel="stylesheet" href="{% static '/css/colors/maron.css">-->

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}"/>

    <script src="{% static '/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
</head>

<body data-spy="scroll" data-target=".navbar-collapse">


<!-- Preloader -->
<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="object_one"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_three"></div>
            <div class="object" id="object_four"></div>
        </div>
    </div>
</div><!--End off Preloader -->


<div class="culmn">
    <!--Home page style-->


    <nav class="navbar navbar-default navbar-fixed white no-background bootsnav">
        <!-- Start Top Search -->
        <div class="top-search">
            <div class="container">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>
        <!-- End Top Search -->

        <!-- Start Header Navigation -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#brand">

                <img src="{% static '/images/logo.png' %}" class="logo logo-display m-top-10" alt="">
                <img src="{% static '/images/logo.jpg' %}" class="logo logo-scrolled" alt="">

            </a>
        </div>
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                <li><a href="#hello">Recherche ta ville !</a></li>
                <li><a href="#info">Tout sur les elections municipals</a></li>
                <li><a href="#fun">Fun fact !</a></li>
                <li><a href="#DCV">Domaine de compétence de la ville</a></li>
                <li><a href="#portfolio">Vérifier mon inscription sur les listes</a></li>
                <!--                            <li><a href="#pricing">Pricing</a></li>
                                            <li><a href="#blog">Blog</a></li>      -->
                <li><a href="#subscribe">Contact</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
        <!--</div> -->


        <!-- Start Side Menu -->
        <!--                <div class="side">
                            <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                            <div class="widget">
                                <h6 class="title">Custom Pages</h6>
                                <ul class="link">
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Portfolio</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h6 class="title">Additional Links</h6>
                                <ul class="link">
                                    <li><a href="#">Retina Homepage</a></li>
                                    <li><a href="#">New Page Examples</a></li>
                                    <li><a href="#">Parallax Sections</a></li>
                                    <li><a href="#">Shortcode Central</a></li>
                                    <li><a href="#">Ultimate Font Collection</a></li>
                                </ul>
                            </div>
                        </div>-->
        <!-- End Side Menu -->

    </nav>


    <!--Home Sections-->

    <section id="hello" class="home bg-mega">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="main_home">
                    <div class="home_text">
                        <h1 class="text-white">Qui sera mon Maire? <br/></h1>
                    </div>
                    <div class="m-top-40">
                        <form class="form-inline" action="{% url "accueil" %}" method="post">
                        {% csrf_token %}
                            <div class="form-group">
                                {{formV.ville}}
<!--                                <input class="form-control" name="ville" type="text" id="id_ville" placeholder="Quelle est ta ville ? ">-->
                            </div>
                        <button type="submit" class="btn btn-default">Recherche</button>
                        </form>
                        <br/>
                        <br/>
                        <h3 class="text-white">Programmes-Municipales.fr est un comparateur de programmes pour les élections municipales.</h3>
                    </div>
                </div>
            </div><!--End off row-->
        </div><!--End off container -->
    </section> <!--End off Home Sections-->

    <!--Portfolio Section-->
    <section id="info" class="portfolio lightbg">
        <div class="container roomy-100">
            <div class="row">
                <div class="main_portfolio">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="head_title text-center">
                            <h2>Quatre infos sur les élections municipales 2020</h2>
                            <div class="separator_auto"></div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod nostrud exerci tation ullamcorper
                                suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                        </div>
                    </div>

                    <!--<div class="row">
                        <div class="col-md-3">
                            <div class="portfolio_item portfolio_item2">
                                <img src="{% static '/images/Portfolio/3.jpg' %}" alt=""/>
                                <div class="portfolio_hover text-center">
                                    <h6 class="text-uppercase text-white">Une élection en deux tours :</h6>
                                    <p class=" text-white">1er tour : 15 mars 2020 <br/> 2ème tour : 22 mars 2020</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portfolio_item portfolio_item2">
                                <img src="{% static '/images/Portfolio/3.jpg' %}" alt=""/>
                                <div class="portfolio_hover text-center">
                                    <h6 class="text-uppercase text-white">Pour voter, </h6>
                                    <p class=" text-white">il suffit d'avoir au moins 18 ans et être inscrit sur les listes électorales de sa ville</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portfolio_item portfolio_item2">
                                <img src="{% static '/images/Portfolio/3.jpg' %}" alt=""/>
                                <div class="portfolio_hover text-center">
                                    <h6 class="text-uppercase text-white">Les listes qui ont plus de 10% des voix</h6>
                                    <p class=" text-white">peuvent se maintenir pour le second tour</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portfolio_item portfolio_item2">
                                <img src="{% static '/images/Portfolio/5.jpg' %}" alt=""/>
                                <div class="portfolio_hover text-center">
                                    <h6 class="text-uppercase text-white">Le maire est désigné par les conseillers municupaux</h6>
                                    <p class=" text-white"></p>
                                    <div class="portfolio_hover_icon">
                                        <a href="{% static '/images/Portfolio/5.jpg' %}" class="popup-img"><i
                                                class="fa fa-expand"></i></a>
                                        <a href=""><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div><!--End off row -->
            <div class="row">
                <div class="about_bottom_content">
                    <div class="col-md-3">
                        <div class="about_bottom_item m-top-20">
                            <div class="ab_head">
                                <div class="ab_head_icon">
                                    <i class="rondP fa fa-calendar-check-o"></i>
                                </div>
                                <h6 class="m-top-20">Une élection en deux tours</h6>
                            </div>
                            <p class="m-top-20">1er tour : 15 mars 2020 <br/> 2ème tour : 22 mars 2020</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="about_bottom_item m-top-20">
                            <div class="ab_head">
                                <div class="ab_head_icon">
                                    <i class="fa fa-universal-access rondP"></i>
                                </div>
                                <h6 class="m-top-20">Pour voter,</h6>
                            </div>
                            <p class="m-top-20">il suffit d'avoir au moins 18 ans et être inscrit sur les listes
                                électorales de sa ville</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="about_bottom_item m-top-20">
                            <div class="ab_head">
                                <div class="ab_head_icon">
                                    <i class="fa fa-percent rondP"></i>
                                </div>
                                <h6 class="m-top-20">Les listes qui ont plus de 10% des voix</h6>
                            </div>
                            <p class="m-top-20">peuvent se maintenir pour le second tour</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="about_bottom_item m-top-20">
                            <div class="ab_head">
                                <div class="ab_head_icon">
                                    <i class="fa fa-users rondP"></i>
                                </div>
                                <h6 class="m-top-20">On vote pour une liste !</h6>
                            </div>
                            <p class="m-top-20">Le maire est désigné par les conseillers municupaux</p>
                        </div>
                    </div>
                </div>
            </div><!--End off row-->
        </div><!--End off container -->
    </section><!-- End off Portfolio section-->

    <!--Portfolio Section-->
    <section id="fun" class="portfolio lightbg">
        <div class="container">
            <div class="row">
                <div class="main_portfolio roomy-100">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="head_title text-center">
                            <h2>Qui est mon maire aujourd'hui</h2>
                            <div class="separator_auto"></div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod nostrud exerci tation ullamcorper
                                suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                        </div>
                    </div>

                    <div class="portfolio_content">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="portfolio_item portfolio_item2">
                                        <img src="{% static '/images/Gender.png' %}" alt=""/>
                                        <div class="portfolio_hover text-center">
                                            <h6 class="text-uppercase text-white">Mon maire est un homme</h6>
                                            <p class=" text-white">4 maires sur 5 est un homme</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="portfolio_item portfolio_item2">
                                        <img src="{% static '/images/Portfolio/3.jpg' %}" alt=""/>
                                        <div class="portfolio_hover text-center">
                                            <h6 class="text-uppercase text-white">Mon maire a la soixantaine</h6>
                                            <p class=" text-white">La moyenne d'âge des maires est 62 ans</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="portfolio_item portfolio_item2">
                                        <img src="{% static '/images/Portfolio/3.jpg' %}" alt=""/>
                                        <div class="portfolio_hover text-center">
                                            <h6 class="text-uppercase text-white">Mon maire est retraité</h6>
                                            <p class=" text-white">1 maire sur 3 est retraité</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="portfolio_item portfolio_item2">
                                        <img src="{% static '/images/michel.png' %}" alt=""/>
                                        <div class="portfolio_hover text-center">
                                            <h6 class="text-uppercase text-white">Mon maire, c'est Michel</h6>
                                            <p class=" text-white">Michel est le nom le plus commun chez les maires (1/25)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div><!--End off row -->
        </div><!--End off container -->
    </section><!-- End off Portfolio section-->

    <!--About Sections-->
    <section id="DCV" class="about roomy-100">
        <div class="container">
            <div class="row">
                <div class="main_about">
                    <div class="col-md-4">
                        <div class="about_content">
                            <h2>Les domaines de compétence de ma mairie</h2>
                            <div class="separator_left"></div>

                            <p>Action sociale et santé
                                Emploi et insertion professionnelle
                                Enseignement
                                Enfance et jeunesse
                                Sports
                                Culture
                                Economie et emploi
                                Urbanisme et aménagement de la commune
                                Logement
                                Environnement et patrimoine
                                Déchets
                                Énergie et Télécommunication
                                Ports et voies maritimes
                                Transports</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="about_accordion wow fadeIn">
                            <div id="faq_main_content" class="faq_main_content">
                                <h6><i class="fa fa-angle-right"></i>Action sociale et santé</h6>
                                <div>
                                    <div class="content">
                                        <ul>
                                            <li><i class="fa fa-angle-right text-primary"></i> Prévention ou
                                                développement
                                                social, via le CCAS
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Attribution d’aides
                                                sociale
                                                facultatives pours des familles /jeunes en difficulté
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Création et gestion d’un
                                                établissement pour enfants de moins de 6 ans ou foyer pour personnes
                                                âgées
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Participation à
                                                l’accueil des
                                                personnes dites “gens du voyage”
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Logement : autorisation,
                                                construction ou subventions de logement sociaux
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Logement : autorisation,
                                                construction ou subventions de logement sociaux
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Aides au logement (Fonds
                                                de
                                                solidarité pour le logement (FSL)
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Logement : autorisation,
                                                construction ou subventions de logement sociaux
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Organisation de
                                                campagnes de
                                                vaccinations gratuite
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Organisation de
                                                l’alimentation
                                                en eau
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Gestion de la propreté
                                                de la
                                                ville
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Gestion des déchets et
                                                des eaux
                                                usées
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> L’aide à l’installation
                                                de
                                                professionnels de santés dans les zones déficitaires
                                            </li>
                                        </ul>
                                    </div>
                                </div> <!-- End off accordion item-1 -->

                                <h6><i class="fa fa-angle-right"></i>Emploi et insertion professionnelle</h6>
                                <div>
                                    <div class="content">
                                        <ul>
                                            <li><i class="fa fa-angle-right text-primary"></i> Aide à la réception des
                                                offres
                                                d’emplois en partenariat avec Pole Emploi
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Création des maisons de
                                                l’emploi
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Gestion des structures
                                                d’accompagnement et d’insertion professionnelle des jeunes
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Création de plans pour
                                                l’emploi
                                                et l’insertion
                                            </li>

                                        </ul>
                                    </div>
                                </div> <!-- End off accordion item-2 -->

                                <h6><i class="fa fa-angle-right"></i>Enseignement</h6>
                                <div>
                                    <div class="content">
                                        <ul>
                                            <li><i class="fa fa-angle-right text-primary"></i> Gestion de logement des
                                                étudiants
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Gestion des écoles
                                                maternelles et primaires (bâtiments et personnels)
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Recrutement des ATSEM
                                                (assistants territoriaux spécialisés des écoles maternelles)
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Restauration scolaire
                                                des écoles primaires
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Organisation des
                                                activités périscolaires
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Financement des écoles
                                                privées sous contrat
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Aide à la scolarisation
                                                des élèves d’écoles primaires
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Gestion des transports
                                                scolaires à l’intérieur du périmètre de la commune
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Contribution au
                                                financement des établissements d’enseignement supérieur et de recherche
                                            </li>


                                        </ul>
                                    </div>
                                </div> <!-- End off accordion item-3 -->

                                <h6><i class="fa fa-angle-right"></i>Enfance et jeunesse</h6>
                                <div>
                                    <div class="content">
                                        <ul>
                                            <li><i class="fa fa-angle-right text-primary"></i> Création de relais
                                                d’assistants maternels
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Financement et gestion
                                                des structures d’accueil de la petite enfance (crèches, garderies…)
                                            </li>


                                        </ul>
                                    </div>
                                </div> <!-- End off accordion item-4 -->

                                <h6><i class="fa fa-angle-right"></i>Sports</h6>
                                <div>
                                    <div class="content">
                                        <ul>
                                            <li><i class="fa fa-angle-right text-primary"></i> Subventions au
                                                clubs et associations
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Sécurité des
                                                installations sportives
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Création d’un
                                                office municipal des sports
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Construction et
                                                gestion des équipements sportifs de proximité (gymnase, piscine,
                                                camping)
                                            </li>
                                        </ul>
                                    </div>
                                </div> <!-- End off accordion item-4 -->

                                <h6><i class="fa fa-angle-right"></i>Culture</h6>
                                <div>
                                    <div class="content">
                                        <ul>

                                            <li><i class="fa fa-angle-right text-primary"></i> Inventaires
                                                général du patrimoine culturel
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Gestion des
                                                bibliothèques municipales
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Gestion des
                                                musées municipaux
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Conservation et
                                                mise en valeur des archives municipales
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Gestion des
                                                diagnostics et des fouilles archéologiques préventives
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Aide aux salles
                                                de spectacles cinématographiques
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Promotion du
                                                tourisme et création d’offices de tourisme
                                            </li>
                                            <li><i class="fa fa-angle-right text-primary"></i> Enseignement
                                                artistique (musique, danse, …) en partenariat avec les
                                                établissements scolaires
                                            </li>
                                        </ul>
                                    </div>
                                </div> <!-- End off accordion item-4 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--End off row-->
        </div><!--End off container -->
    </section> <!--End off About section -->

    <!--Skill Sections-->
    <section id="" class="skill roomy-100">
        <div class="container">
            <div class="row">
                <div class="main_skill">
                    <div class="col-md-6">
                        <div class="skill_content wow fadeIn">
                            <h2>Grands domaines de compétence</h2>
                            <div class="separator_left"></div>
                            <p>
                                Action sociale et santé
                                Emploi et insertion professionnelle
                                Enseignement
                                Enfance et jeunesse
                                Sports
                                Culture
                                Economie et emploi
                                Urbanisme et aménagement de la commune
                                Logement
                                Environnement et patrimoine
                                Déchets
                                Énergie et Télécommunication
                                Ports et voies maritimes
                                Transports
                            </p>

                        </div>
                    </div>
                    <div class="col-md-6">
                        {% load static %}
                        <img src="{% static '/images/BAGUETTE.jpg' %}" alt="Baguette">
                    </div>
                </div>
            </div><!--End off row-->
        </div><!--End off container -->
        <div class="container roomy-50">
            <div class="row">
                <div class="main_skill">
                    <div class="col-md-6">
                        <div class="skill_content wow fadeIn">
                            <h2>Action sociale et santé</h2>
                            <div class="separator_left"></div>
                            <ul>
                                <li><i class="fa fa-angle-right text-primary"></i> Prévention ou développement
                                    social, via le CCAS
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Attribution d’aides sociale
                                    facultatives pours des familles /jeunes en difficulté
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Création et gestion d’un
                                    établissement pour enfants de moins de 6 ans ou foyer pour personnes âgées
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Participation à l’accueil des
                                    personnes dites “gens du voyage”
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Logement : autorisation,
                                    construction ou subventions de logement sociaux
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Logement : autorisation,
                                    construction ou subventions de logement sociaux
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Aides au logement (Fonds de
                                    solidarité pour le logement (FSL)
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Logement : autorisation,
                                    construction ou subventions de logement sociaux
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Organisation de campagnes de
                                    vaccinations gratuite
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Organisation de l’alimentation
                                    en eau
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Gestion de la propreté de la
                                    ville
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Gestion des déchets et des eaux
                                    usées
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> L’aide à l’installation de
                                    professionnels de santés dans les zones déficitaires
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="skill_content wow fadeIn">
                            <h2>Emploi et insertion professionnelle</h2>
                            <div class="separator_left"></div>
                            <ul>
                                <li><i class="fa fa-angle-right text-primary"></i> Aide à la réception des offres
                                    d’emplois en partenariat avec Pole Emploi
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Création des maisons de l’emploi
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> GEstion des structures
                                    d’accompagnement et d’insertion professionnelle des jeunes
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Création de plans pour l’emploi
                                    et l’insertion
                                </li>

                            </ul>
                        </div>
                    </div>
                </div><!--End off row-->
            </div><!--End off container -->
        </div>
        <div class="container roomy-50">
            <div class="row">
                <div class="main_skill">
                    <div class="col-md-6">
                        <div class="skill_content wow fadeIn">
                            <h2>Enseignement</h2>
                            <div class="separator_left"></div>
                            <ul>
                                <li><i class="fa fa-angle-right text-primary"></i> Gestion de logement des
                                    étudiants
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Gestion des écoles
                                    maternelles et primaires (bâtiments et personnels)
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Recrutement des ATSEM
                                    (assistants territoriaux spécialisés des écoles maternelles)
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Restauration scolaire
                                    des écoles primaires
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Organisation des
                                    activités périscolaires
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Financement des écoles
                                    privées sous contrat
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Aide à la scolarisation
                                    des élèves d’écoles primaires
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Gestion des transports
                                    scolaires à l’intérieur du périmètre de la commune
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Contribution au
                                    financement des établissements d’enseignement supérieur et de recherche
                                </li>


                            </ul>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="skill_content wow fadeIn">
                            <h2>Enfance et jeunesse</h2>
                            <div class="separator_left"></div>
                            <ul>
                                <li><i class="fa fa-angle-right text-primary"></i> Création de relais
                                    d’assistants maternels
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Financement et gestion
                                    des structures d’accueil de la petite enfance (crèches, garderies…)
                                </li>


                            </ul>

                        </div>
                    </div>
                </div><!--End off row-->
            </div><!--End off container -->
        </div>
        <div class="container roomy-50">
            <div class="row">
                <div class="main_skill">
                    <div class="col-md-6">
                        <div class="skill_content wow fadeIn">
                            <h2>Sports</h2>
                            <div class="separator_left"></div>
                            <ul>
                                <li><i class="fa fa-angle-right text-primary"></i> Subventions au
                                    clubs et associations
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Sécurité des
                                    installations sportives
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Création d’un
                                    office municipal des sports
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Construction et
                                    gestion des équipements sportifs de proximité (gymnase, piscine,
                                    camping)
                                </li>


                            </ul>


                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="skill_content wow fadeIn">
                            <h2>Culture</h2>
                            <div class="separator_left"></div>

                            <ul>

                                <li><i class="fa fa-angle-right text-primary"></i> Inventaires
                                    général du patrimoine culturel
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Gestion des
                                    bibliothèques municipales
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Gestion des
                                    musées municipaux
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Conservation et
                                    mise en valeur des archives municipales
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Gestion des
                                    diagnostics et des fouilles archéologiques préventives
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Aide aux salles
                                    de spectacles cinématographiques
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Promotion du
                                    tourisme et création d’offices de tourisme
                                </li>
                                <li><i class="fa fa-angle-right text-primary"></i> Enseignement
                                    artistique (musique, danse, …) en partenariat avec les
                                    établissements scolaires
                                </li>

                            </ul>


                        </div>
                    </div>
                </div><!--End off row-->
            </div><!--End off container -->
            <br/>
        </div><!--End off container -->
    </section> <!--End off Skill section -->

    <!--Subscribe section-->
    <section id="subscribe" class="subscribe roomy-100 fix">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="main_subscribe text-center">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h2 class="text-white">Rester informé !</h2>
                        <p class="m-top-30 text-white">Suivre les actualités des municipales et
                            découvrir les programmes.</p>
                    </div>
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="subscribe_btns m-top-40">
                            <form class="form-inline" action="{% url "accueil" %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{formC.email}}
                            </div>
                            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Je m'abonne !</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div><!--End off row -->
        </div><!--End off container -->
    </section><!-- End off Impress section-->

    <!-- scroll up-->
    <div class="scrollup">
        <a href="#"><i class="fa fa-chevron-up"></i></a>
    </div><!-- End off scroll up -->

    <footer id="footer" class="footer bg-black">
        <div class="container">
            <div class="row">
                <div class="main_footer text-center p-top-40 p-bottom-30">
                    <p class="wow fadeInRight" data-wow-duration="1s">

                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Félicitation !</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Vous êtes des nôtres ! On va vous envoyer plein d'emails
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>
<!-- JS includes -->

<script src="{% static '/js/vendor/jquery-1.11.2.min.js' %}"></script>
<script src="{% static '/js/vendor/bootstrap.min.js' %}"></script>

<script src="{% static '/js/jquery.magnific-popup.js' %}"></script>
<script src="{% static '/js/jquery.easing.1.3.js' %}"></script>
<script src="{% static '/js/slick.min.js' %}"></script>
<script src="{% static '/js/jquery.collapse.js' %}"></script>
<script src="{% static '/js/bootsnav.js' %}"></script>


<!-- paradise slider js -->


<script src="http://maps.google.com/maps/api/js?key=AIzaSyD_tAQD36pKp9v4at5AnpGbvBUsLCOSJx8"></script>
<script src="{% static '/js/gmaps.min.js' %}"></script>

<script>
            function showmap() {
                var mapOptions = {
                    zoom: 8,
                    scrollwheel: false,
                    center: new google.maps.LatLng(-34.397, 150.644),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
                $('.mapheight').css('height', '350');
                $('.maps_text h3').hide();
            }

{%if modal%}
    $(document).ready(function(){
    $('#exampleModalCenter').appendTo("body")
    $("#exampleModalCenter").modal('show');
    });
{%endif%}

</script>

    <!--    {% if form_error %}
        $(#offerModalForm).modal("show");
    {% endif %}-->
<script src="{% static '/js/plugins.js' %}"></script>
<script src="{% static '/js/main.js' %}"></script>

</body>
</html>
