{% extends "users/base.html" %}
{% load static %}
{% block content %}
<section class="about roomy-100">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <div class="head_title text-center">
                    <h1><a href="/{{v.url}}">{{v.nom}} </a></h1>
                    <div class="separator_auto"></div>
                    <!--                        <p>Description de la ville, et de ses enjeux : {% for c in v.criteres.all%}{{c.titre}},
                                                {%endfor %}...</p>-->
                </div>
            </div>
            <div class="col-md-12">
                <div class="about_accordion wow fadeIn">
                    <div id="faq_main_content" class="faq_main_content">
                        <h6><i class="fa fa-star text-primary"></i>Les priorités des listes</h6>
                        <div>
                            <div class="content">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            {% for l in ls%}
                                            <th scope="col"><a href="/liste/{{l.id}}">
                                                {%if l.nom is not None%}
                                                {{l.nom}}
                                                {% else %}
                                                Liste {{l.couleur}}
                                                {% endif %}</a></th>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            {% for l in ls%}
                                            <td>
                                                {% for pr in l.prio%}
                                                <li>{{pr.critere.titre}} :
                                                    {% if pr.titre|length < 200 %}
                                                    {{pr.titre}}
                                                    {% else %}
                                                    <a tabindex="0" role="button" style="cursor: zoom-in;"
                                                       data-container="body"
                                                       data-toggle="popover"
                                                       data-placement="auto" data-trigger="focus"
                                                       data-content="{{pr.titre}}">{{pr.titre|truncatechars:200}}</a>
                                                    {% endif %}
                                                </li>
                                                {% endfor %}
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> <!-- End off accordion item-1 -->
                        {% for vcat in vcats%}
                        <h6><i class="fa fa-angle-right"></i>{{vcat.titre}}</h6>
                        <div>
                            <div class="content">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th scope="col">Critère</th>
                                            {% for l in ls.all%}
                                            <th scope="col"><a tabindex="0" role="button" style="cursor: pointer;"
                                                               data-toggle="popover"
                                                               data-placement="auto" data-trigger="focus"
                                                               data-html="true"
                                                               title="{%if l.nom is not None%}
                                                                        {{l.nom}}
                                                                        {% else %}
                                                                        Liste {{l.couleur}}
                                                                        {% endif %}"
                                                               data-content="
                                                               {%if l.teteDeListe is not None%}
                                                              <h5>Tête de liste : {{l.teteDeListe}}</h5>
                                                              {% endif %}
                                                              <p>
                                                              {%if l.couleur is not None%}
                                                              Couleur politique : {{l.couleur}}<br/>
                                                              {% endif %}
                                                              {{l.presentation}}</p>">
                                                {%if l.nom is not None%}
                                                {{l.nom}}
                                                {% else %}
                                                Liste {{l.couleur}}
                                                {% endif %}
                                            </a></th>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for vc in vcat.criteres%}
                                        <tr>
                                            <th>{{vc.titre}}</th>
                                            {% for vp in vc.promesses%}
                                            <td>
                                                {% if vp.promesse.titre|length < 200 %}
                                                {{vp.promesse.titre}}
                                                {% else %}
                                                <a tabindex="0" role="button" style="cursor: zoom-in;"
                                                   data-container="body"
                                                   data-toggle="popover"
                                                   data-placement="auto" data-trigger="focus"
                                                   data-content="{{vp.promesse.titre}}">{{vp.promesse.titre|truncatechars:200}}</a>
                                                {% endif %}
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> <!-- End off accordion item-1 -->
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div><!--End off row-->
    </div><!--End off container -->
    </div>


</section> <!--End off About section -->
{% endblock content %}