{% extends "users/base.html" %}
{% load static %}
{% block content %}
<section class="about roomy-100">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <div class="head_title text-center">
                    <h1><a href="/{{v.nom}}">{{v.nom}} </a></h1>
                    <div class="separator_auto"></div>
                    <!--                        <p>Description de la ville, et de ses enjeux : {% for c in v.criteres.all%}{{c.titre}},
                                                {%endfor %}...</p>-->
                </div>
            </div>
            <div class="main_about">
                <div class="about_accordion wow fadeIn">
                    <div id="faq_main_content" class="faq_main_content">
                        <h6><i class="fa fa-star text-primary"></i>Les priorités des liste</h6>
                        <div>
                            <div class="content">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        {% for l in ls%}
                                        <th scope="col"><a href="/liste/{{l.id}}">{{l.nom}}</a></th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        {% for l in ls%}
                                        <td>
                                        {% for pr in l.prio%}
                                            <li>{{pr.critere.titre}} : {{pr.titre}}</li>
                                        {% endfor %}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- End off accordion item-1 -->
                        {% for vcat in vcats%}
                        <h6><i class="fa fa-angle-right"></i>{{vcat.titre}}</h6>
                        <div>
                            <div class="content">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Critère</th>
                                        {% for l in ls.all%}
                                        <th scope="col"><a href="/liste/{{l.id}}">{{l.nom}}</a></th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for vc in vcat.criteres%}
                                    <tr>
                                        <th>{{vc.titre}}</th>
                                        {% for vp in vc.promesses%}
                                        <td>{{vp.promesse.titre}}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- End off accordion item-1 -->
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div><!--End off row-->
    </div><!--End off container -->
</section> <!--End off About section -->
{% endblock content %}