{% extends "users/base.html" %}
{% load static %}
{% block content %}
<!--Home page style-->
<section id="pricing" class="pricing lightbg">
    <div class="container">
        <div class="row">
            <form class="main_pricing roomy-100" action="{% url 'ville' v.nom %}" method="post">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <div class=" text-center">
                        {% csrf_token %}
                        <h1>{{v.nom}}</h1>
                        <div class="separator_auto"></div>
                        <!--                            <p>Description de la ville, et de ses enjeux : {% for c in v.criteres.all%}{{c.titre}},
                                                        {%endfor %}...</p>-->
                        <p>{%if l.slogan is not None%}{{v.description}}{% endif %}</p>
                        <button type="submit" class="btn btn-primary">Comparer les programmes</button>
                    </div>
                </div>
                {% for l in ls%}
                <div class="col-md-4 col-sm-12 m-top-30">
                    <div class="pricing_item">
                        <div class="pricing_head text-center p-top-20 p-bottom-15">
                            <h4 class="text-uppercase">{{l.nom}}</h4>
                        </div>
                        <div class="pricing_body bg-white p-top-20 p-bottom-20">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                {%if l.photo.url is not None%}
                                <img class="image_ville" src="{{l.photo.url}}" alt=""/>
                                {% else %}
                                <img class="image_ville" src="{% static '/images/teamwork.png' %}" alt=""/>
                                {% endif %}
                            </div>
                            <div class="pricing_btn text-center p-top-10">
                                <a href="/liste/{{l.id}}" class="btn btn-primary">Voir !</a>
                                <label class="form-check-label" for="{{l.id}}">
                                    Comparer
                                </label>
                                <input checked type="checkbox" name="Listes" value="{{l.id}}" id="{{l.id}}">
                            </div>
                        </div>
                    </div>
                </div><!-- End off col-md-4 -->
                {% endfor %}
            </form>
        </div><!--End off row-->
    </div>
</section> <!--End off Pricing section -->
{% endblock content %}