{% extends "users/base.html" %}
{% load static %}
{% block page_title %}Créer une liste{% endblock %}
{% block content %}
<section>
    <div class="container roomy-100">
        <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
            <h3>Renseigner les propositions</h3>
        </div>
        <form action="{%url 'propositions' l.id%}" method="post"
              class="col-md-10 col-md-offset-1 pricing_item m-top-30 p-top-20 p-bottom-20">
            {% csrf_token %}
            {% for cat in cats%}
            <h4><i class="fa fa-angle-right"></i>{{cat.titre}}</h4>
            <div>
                <div class="content">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Critère</th>
                            <th scope="col">Promesse</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for c in cat.crits%}
                        <tr>
                            <td>{{c.titre}}</td>
                            <td><textarea style="width:100%" rows="3" name="{{c.id}}">{%if c.pro is not None%}{{c.pro}}{%endif%}</textarea></td>
                            <td><input class="form-check-input" type="checkbox" id=""></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> <!-- End off accordion item-1 -->
            {% endfor %}
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary" name="save">Enregistrer</button>
            </div>
        </form>

    </div>
</section>
{% endblock %}